.ipynb_checkpoints
.DS_Store
__pycache__
*.pytest_cache
.gitattributes
!*.zip
/awesome.gif
/bom.movie_gross.csv.gz
/CONTRIBUTING.md
/im.db
/LICENSE.md
/movie_data_erd.jpeg
/README.md
/rt.movie_info.tsv.gz
/rt.reviews.tsv.gz
/tmdb.movies.csv.gz
/tn.movie_budgets.csv.gz
/tn.movie_budgets.csv.gz
/untitled.txt
